<footer>
	<% unless current_page?(coming_soon_path) %>
		<%= link_to root_path do %>
			<h1>Bliss-Finder.com</h1>
		<% end %>
		<%= link_to terms_path do %>
			<p>terms and conditions</p>
		<% end %>
		<%= link_to '//found.ee/ineedanewboyfriend', target: "_blank" do %>
			<p>pre-save 'I Need a New Boyfriend'</p>
		<% end %>
		<%= link_to 'https://www.charlybliss.com', target: "_blank" do %>
			<p>Charly Bliss Official Website</p>
		<% end %>
	<% end %>
	<p class="text-right">All Rights Reserved Charly Bliss 2023</p>
</footer>