<header>
	<% if current_page?(coming_soon_path) || current_page?(root_path) %>
		<h1>Bliss-Finder.com</h1>
	<% else %>
		<%= link_to root_path do %>
			<h1>Bliss-Finder.com</h1>
		<% end %>
	<% end %>
</header>