<div class="home-container">
	<div class="mission home-section">
		<div class="text">
			<h1>Here at Bliss-Finder™️, our mission is simple ...</h1>
			<p>... unite the world in harmony through meaningful connections. So go ahead, make a profile today and watch how quickly your life can change.</p>
		</div>
		<%= link_to 'create your profile', new_profile_path, class: "btn-primary huge" %>
	</div>
	<div class="pre-save home-section">
		<a href="//found.ee/ineedanewboyfriend" target="_blank">
			<div class="card">
				<div class="card-top">
					<img src="https://static.found.ee/user/230446/res-fd9d72ee-ab7b-4f99-9c73-e526b8f74c81-CB-Boyfriend-Digital-Art.jpg" width="100%">
				</div>
				<div class="card-body">
					<h4>Charly Bliss - I Need A New Boyfriend</h4>
				</div>
			</div>
		</a>

		<a href="//found.ee/ineedanewboyfriend" class="btn-primary landing-link" target="_blank">Pre-Save Now!</a>
	</div>
	<div class="mailing-list">
		<div id="mc_embed_shell">
			<link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
			<style type="text/css">
				#mc_embed_signup{background:#fff; false;clear:left; font:14px Verdana,Arial,sans-serif; width: 600px;}
			</style>
			<div id="mc_embed_signup">
				<form action="https://charlybliss.us14.list-manage.com/subscribe/post?u=76ec255c986451cc67e039127&amp;id=5391dcbf38&amp;f_id=00e78ee0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
					<div id="mc_embed_signup_scroll">
						<h2>Subscribe to Our Mailing List</h2>
						<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
						<div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display: none;"></div>
							<div class="response" id="mce-success-response" style="display: none;"></div>
						</div>
						<div aria-hidden="true" style="position: absolute; left: -5000px;">
							<input type="text" name="b_76ec255c986451cc67e039127_5391dcbf38" tabindex="-1" value="">
						</div>
						<div class="clear">
							<input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button btn-primary" value="Subscribe">
						</div>
					</div>
				</form>
			</div>
			<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[9]='MMERGE9';ftypes[9]='text';fnames[15]='MMERGE15';ftypes[15]='text';fnames[14]='MMERGE14';ftypes[14]='text';fnames[13]='MMERGE13';ftypes[13]='text';fnames[12]='MMERGE12';ftypes[12]='text';fnames[11]='MMERGE11';ftypes[11]='text';fnames[10]='MMERGE10';ftypes[10]='text';fnames[8]='MMERGE8';ftypes[8]='text';fnames[1]='FNAME';ftypes[1]='text';fnames[7]='MMERGE7';ftypes[7]='text';fnames[6]='MMERGE6';ftypes[6]='text';fnames[4]='MMERGE4';ftypes[4]='text';fnames[5]='MMERGE5';ftypes[5]='birthday';fnames[3]='MMERGE3';ftypes[3]='zip';fnames[2]='LNAME';ftypes[2]='text';fnames[16]='MMERGE16';ftypes[16]='address';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
		</div>
	</div>
</div>