<h1>Terms and Conditions</h1>
<p>We reserve the right to modify, update, or discontinue the Site at our sole discretion, at any time, for any or no reason, and without notice or liability.

We may provide you with notices, including those regarding changes to the Terms, by email or communications through the Site. Please note, however, that changes to these Terms made be made in our discretion without notice. It is your responsibility to review these Terms and conditions every time you use the Site.

Except as otherwise stated, nothing in these Terms is intended, nor will be deemed, to confer rights or remedies upon any third party.

These Terms (including our Privacy Policy) contain the entire agreement between you and us regarding the use of the Site, and supersede any prior agreement between you and us with respect to such subject matter. The parties acknowledge that no reliance is placed on any representation made but not expressly contained in these Terms.

Any failure on Bliss-Finder’s part to exercise or enforce any right or provision of the Terms does not constitute a waiver of such right or provision. The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights.

If any provision of the Terms is found to be unenforceable or invalid, then only that provision shall be modified to reflect the parties’ intention or eliminated to the minimum extent necessary so that the Terms shall otherwise remain in full force and effect and enforceable. The section titles in the Terms are for convenience only and have no legal or contractual effect.

The Terms, and any rights or obligations hereunder, are not assignable, transferable or sub-licensable by you without Bliss-Finder’s prior written consent in each instance, but may be assigned or transferred by us without restriction. Any attempted assignment by you violates these Terms and will be void.</p>

<h1>Privacy Policy</h1>
<p>Bliss-Finder will retain your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes and enforce our legal agreements and policies.

Bliss-Finder will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period of time, except when this data is used to strengthen the security or to improve the functionality of our Service, or if we are legally obligated to retain this data for longer periods.

Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ from those of your jurisdiction.

If you are located outside the United States, and choose to provide information to the Service, please note that we transfer all data, including Personal Data, to the United States and process it there. Further, by using the Services, or providing information to us, you understand and unambiguously consent to the collection, processing, transfer and use of information in the United States and other countries and territories, for the purposes set forth in this Policy.

Your consent to this Privacy Policy and your usage of the Service represents your agreement to such data transfers.

Bliss-Finder will take all the steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy, and we will not transfer your Personal Data unless there are adequate controls in place, including the security of your data and other personal information.

We may use third-party Service Providers to monitor and analyze the use of our Service.

GOOGLE ANALYTICS
Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Service. This data is shared with other Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network.

For more information on the privacy practices of Google, please visit the Google Privacy Terms web page: https://policies.google.com/privacy?hl=en.

Our Service may contain links to other sites that are not operated by us. If you click a third-party link, you will be directed to that third party’s site. We strongly advise you to review the privacy policy of every site you visit.

We have no control over and assume no responsibility for the content, privacy policies or practices of any third-party sites or services.

Our Service is not intended to be used by anyone under the age of 18 ( “children” ).

We do not knowingly collect Personal Data from anyone under the age of 18. If you are a parent or guardian and you are aware that your child has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we will take steps to remove any such data from our servers. Upon discovery of the participation of a person under eighteen (18) years of age in such activities, his/her participation will be canceled immediately and all personal information will be deleted from our files.

We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.

We will let you know via e-mail and/or a prominent notice on our Service in advance of any change becoming effective, and by updating the “effective date” at the top of this Privacy Policy.

You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>