<div class="exception-page">
	<h1>- 500 -</h1>
	<p>oops! looks like something went wrong on our end. Fret not! we're looking into it.</p>
	<p>remember, this is a satire website. be kind!</p>
	<%= link_to "click here to go back to the home page", root_path, class: "btn-primary" %>
</div>