<div class="exception-page">
	<h1>- 422 -</h1>
	<p>Hmm... Maybe you tried to change something you didn't have access to. But no worries!</p>
	<%= link_to "click here to go back to the home page", root_path, class: "btn-primary" %>
</div>